Spring_Rest_WS/src/main/webapp/wsdl/CredentialServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://svc.nk.sharma.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://svc.nk.sharma.com" xmlns:intf="http://svc.nk.sharma.com" xmlns:tns1="http://models.nk.sharma.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://svc.nk.sharma.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://models.nk.sharma.com"/>
   <element name="authenticate">
    <complexType>
     <sequence>
      <element name="credentialsBean" type="tns1:CredentialsBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticateResponse">
    <complexType>
     <sequence>
      <element name="authenticateReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="authorize">
    <complexType>
     <sequence>
      <element name="role" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="authorizeResponse">
    <complexType>
     <sequence>
      <element name="authorizeReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://models.nk.sharma.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="CredentialsBean">
    <sequence>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="status" type="xsd:boolean"/>
     <element name="userId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="authenticateResponse">

      <wsdl:part element="impl:authenticateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authorizeRequest">

      <wsdl:part element="impl:authorize" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authorizeResponse">

      <wsdl:part element="impl:authorizeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateRequest">

      <wsdl:part element="impl:authenticate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CredentialServices">

      <wsdl:operation name="authenticate">

         <wsdl:input message="impl:authenticateRequest" name="authenticateRequest">

       </wsdl:input>

         <wsdl:output message="impl:authenticateResponse" name="authenticateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authorize">

         <wsdl:input message="impl:authorizeRequest" name="authorizeRequest">

       </wsdl:input>

         <wsdl:output message="impl:authorizeResponse" name="authorizeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CredentialServicesSoapBinding" type="impl:CredentialServices">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="authenticate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="authenticateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authorize">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authorizeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="authorizeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CredentialServicesService">

      <wsdl:port binding="impl:CredentialServicesSoapBinding" name="CredentialServices">

         <wsdlsoap:address location="http://localhost:8080/Spring_Rest_WS/services/CredentialServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
